<table>
  <% campaign_grouped_costs.each do |type, costs| %>
    <thead>
      <tr>
        <td>
          <b><%= t(".#{type}") %></b>
        </td>
        <td style="width: 15%;">
          <b><%= t(".minimum") %></b>
        </td>
        <td style="width: 15%;">
          <b><%= t(".optimum") %></b>
        </td>
      </tr>
    </thead>

    <tbody>
      <% costs.sort_by { |c| c["required"] }.reverse.each do |cost| %>
        <tr>
          <td>
            <strong>
              <%= cost["name"] %>
            </strong>
            <br>
            <%= render_markdown cost["description"] %>
          </td>

          <td>
            <% if cost["required"] == "True" %>
              <%= campaign_money(cost["amount"]) %>
            <% end %>
          </td>

          <td>
            <% if cost["required"] == "False" %>
              <%= campaign_money(cost["amount"]) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>

  <tfoot>
    <tr>
      <td>
        <b><%= t(".total") %></b>
      </td>
      <td>
        <b><%= campaign_money(campaign_total_minimum) %></b>
      </td>
      <td>
        <b><%= campaign_money(campaign_total_optimum) %></b>
      </td>
    </tr>
  </tfoot>
</table>
