<% options ||= {} %>

<div class="section row data">
  <h3 class="h3 decorator flex items-center cursor-pointer" data-toggle="<%= id %>">
    <%= title %>
    <%= icon "arrow-right-s-line", class: "icon--small", role: "img", "aria-hidden": true %>&nbsp;
  </h3>

  <div id="<%= id %>" class="data-text" <%= "hidden" unless options[:expanded] %>>
    <%= content %>
  </div>
</div>
