<% options ||= {} %>

<div class="row callout">
  <h3 class="section-heading mt-s" data-toggle="<%= id %>">
    <%= title %>
    <%= icon "caret-right", class: "icon--small", role: "img", "aria-hidden": true %>&nbsp;
  </h3>

  <div id="<%= id %>" class="<%= 'hide' unless options[:expanded] %>" data-toggler=".hide">
    <%= content %>
  </div>
</div>