<%= append_stylesheet_pack_tag "decidim_social_crowdfunding" %>
<div class="card admin social-crowdfunding-campaign">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <div class="button--title">
        <%= link_to create_campaign_path, class: "button tiny button--title button--goteo", target: :blank do %>
          <%= t(".create") %>
          <%= render partial: "decidim/social_crowdfunding/goteo_logo" %>
          <%= icon "external-link" %>
        <% end %>
      </div>
      <div class="button--title">
        <%= link_to manage_campaign_path, class: "button tiny button--title" do %>
          <%= icon "cog" %>
          <%= t(".manage") %>
        <% end %>
      </div>
    </h2>
  </div>
  <% if current_campaign %>
    <div class="card-section">
      <h3>
        <%= t(".selected") %>
      </h3>
      <%= link_to current_campaign.url, target: "_blank" do %>
        <%= translated_attribute(current_campaign.name) %>
      <% end %>
    </div>
  <% end %>
  <div class="card-section">
    <h3>
      <%= t(".select") %>
    </h3>
    <%= decidim_form_for @form do |f| %>
      <%= f.text_field :slug, label: t(".slug") %>
      <div class="help-text mb-s">
        <%= t(".slug_info") %>
      </div>
      <%= f.submit t(".submit") %>
    <% end %>
  </div>
</div>
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".campaigns") %>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.campaign.fields.id", scope: "decidim.social_crowdfunding") %></th>
            <th><%= t("models.campaign.fields.title", scope: "decidim.social_crowdfunding") %></th>
            <th><%= t("models.campaign.fields.created_at", scope: "decidim.social_crowdfunding") %></th>
            <th><%= t("models.campaign.fields.updated_at", scope: "decidim.social_crowdfunding") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.social_crowdfunding") %></th>
          </tr>
        </thead>
        <tbody>
          <% campaigns.each do |campaign| %>
            <tr data-id="<%= campaign.id %>">
              <td>
                <%= link_to campaign.slug, campaign.url, target: :blank %>
              </td>
              <td>
                <%= translated_attribute(campaign.name) %><br>
              </td>
              <td>
                <%= l campaign.created_at, format: "%d/%m/%Y - %H:%M" %>
              </td>
              <td>
                <%= l campaign.updated_at, format: "%d/%m/%Y - %H:%M" %>
              </td>
              <td class="table-list__actions">
                <% if allowed_to? :update, :campaign, campaign: campaign %>
                  <%= icon_link_to "check", select_campaigns_path(slug: campaign.slug), t("actions.select", scope: "decidim.social_crowdfunding"), method: :post, class: "action-icon--select" %>
                <% end %>
                <% if allowed_to? :update, :campaign, campaign: campaign %>
                  <%= icon_link_to "reload", campaign_path(campaign), t("actions.update", scope: "decidim.social_crowdfunding"), method: :put, class: "action-icon--reload" %>
                <% end %>
                <% if allowed_to? :destroy, :campaign, campaign: campaign %>
                  <%= icon_link_to "circle-x", campaign_path(campaign), t("actions.destroy", scope: "decidim.social_crowdfunding"), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.social_crowdfunding") } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate campaigns, theme: "decidim" %>
    </div>
  </div>
</div>
